.user-section {
    background: rgba(255,255,255,0.12);
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 25px;
}

.user-section h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.bike-card {
    background: rgba(255,255,255,0.12);
    padding: 18px;
    border-radius: 14px;
    margin-bottom: 14px;
}

.bike-card strong {
    color: #ffd857;
}

.btn-small {
    display: inline-block;
    background: #ffd857;
    color: black;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.btn-small:hover {
    background: #eac13d;
}

.history-item {
    padding: 12px 0;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.status {
    font-weight: bold;
}

.status-ativo {
    color: #ffd857;
}

.status-finalizado {
    color: #75ff9f;
}

.status-atrasado {
    color: #ff6b6b;
}
